@use "sass:map";
@use "sass:color";
@use "./colors" as *;
// Button Design System - SASS

// Color Palette
$colors: (
  primary: $indigo-600,
  secondary: $indigo-50,
  secondary-foreground: $indigo-900,
  light: $base-white,
  dark: $slate-900,
  border: $slate-400
);

$primary-color: map.get($colors, primary);
$secondary-color: map.get($colors, secondary);
$secondary-foreground-color: map.get($colors, secondary-foreground);
$dark-color: map.get($colors, dark);
$border-color: map.get($colors, border);
$link-color: map.get($colors, primary);
$border-color: map.get($colors, border);

// Button Sizes
$btn-sizes: (
  sm: (
    padding: 0.25rem 0.5rem,
    font-size: 0.875rem
  ),
  // Small
  base:
    (
      padding: 0.5rem 1rem,
      font-size: 1rem
    ),
  // Base
  lg:
    (
      padding: 0.75rem 1.25rem,
      font-size: 1.125rem
    )
    // Large
);

// Button Variants
$btn-variants: (
  primary: (
    background: $primary-color,
    color: $base-white,
    border: $primary-color
  ),
  secondary: (
    background: $secondary-color,
    color: $secondary-foreground-color,
    border: $secondary-color
  ),
  outline: (
    background: trasparent,
    color: $dark-color,
    border: $border-color
  ),
  link: (
    background: transparent,
    color: $link-color,
    border: none
  )
);

// Button Mixin
@mixin button($variant, $size: base) {
  $bg: map.get(map.get($btn-variants, $variant), background);
  $color: map.get(map.get($btn-variants, $variant), color);
  $border: map.get(map.get($btn-variants, $variant), border);

  padding: map.get(map.get($btn-sizes, $size), padding);
  font-size: map.get(map.get($btn-sizes, $size), font-size);
  background-color: $bg;
  color: $color;
  border: 1px solid $border;
  border-radius: 0.375rem; // 6px border radius
  transition: background-color 0.2s ease-in-out;

  &:hover,
  &:focus,
  &:active {
    opacity: 0.9;
  }
}

// Button Classes
.btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-weight: 500;
  cursor: pointer;
  text-align: center;
}

.btn-primary {
  @include button(primary);

  &:hover,
  &:focus,
  &:active {
    background-color: color.scale($primary-color, $lightness: -17%);
    border-color: color.scale($primary-color, $lightness: -17%);
  }
}

.btn-secondary {
  @include button(secondary);
  &:hover,
  &:focus,
  &:active {
    color: $secondary-foreground-color;
    background-color: $secondary-color;
    border-color: $secondary-color;
  }
}

.btn-outline {
  @include button(outline);
  &:hover,
  &:focus,
  &:active {
    color: $base-white;
    background-color: $dark-color;
    border-color: $dark-color;
  }
}

.btn-link {
  @include button(link);
  font-weight: 500;
}

.link {
  color: $primary-color;
  font-weight: 500;
  &:hover,
  &:focus,
  &:active {
    color: color.scale($primary-color, $lightness: -17%);
  }
}
