@import '../../logged_out_user_navbar';

.container {
    padding-top: 2rem;
}

#details-bar {
    .table-content {
        display: flex;
        // background-color: $indigo-100;
        align-items: center;

        p {
            width: 171px;
            font-weight: 507;

            span {
                font-weight: 500;
            }
        }

        .table {
            thead {

                tr,
                td {
                    p {
                        width: 195px;
                    }

                    display:flex;
                    align-items: center;
                    padding:0;
                    margin-top: 9px;
                    background-color: rgba(114, 114, 114, 0.027);
                }
            }
        }
    }
}

#search-card {
    display: flex;
    justify-content: center;

    .main-wrap {
        .content-wrap {
            display: flex;
            flex-wrap: wrap;
            width: fit-content; // This ensures the content-wrap takes only the required space

            @media screen and (max-width: 805px) {
                justify-content: center;
            }

            .card-wrap {
                max-width: 20rem;
                width: 100%;
                margin: 5px;

                // For tablet and mobile
                @media screen and (max-width: 805px) {
                    max-width: 26rem;
                }

                .card {
                    width: 100%;
                    padding: 30px 20px;
                }
            }
        }
    }
}
