@import '../../logged_out_user_navbar';

.container {
    padding-top: 2rem;
}
#search-card {
    .card-body{
        display:flex;
        justify-content: center;
        .content{
            display:flex;
            justify-content: space-between;
            align-items: center;
            flex-wrap: wrap;
            width:100%;
            .form-check{
                padding:0;
            }
            .gear{
                display:flex;
                justify-content: center;
                justify-content: space-between;
                flex-wrap: wrap;
                width:391px;
                .button{
                    margin-top:14px;
                    @media  screen and (max-width:399px) {
                        margin-top: 0px;
                    }
                }
            }
           
        }
    }
}