@use "./base/typography" as *;
@use "./base/colors" as *;
@use "./base/buttons" as *;

// Forward modules so importing files can access variables
@forward "./base/typography";
@forward "./base/colors";
@forward "./base/buttons";