<!DOCTYPE html>
<html lang="en">
{% load static %}

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BusNest {% block title %}{% endblock title %}</title>
    <link rel="icon" type="image/x-icon" href="{% static 'images/logo-icon.svg' %}">
    <script src="{% static 'utils/htmx/htmx.min.js' %}"></script>
    <script src="https://kit.fontawesome.com/d2ef0bf498.js" crossorigin="anonymous"></script>
    <link href="{% static 'utils/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
    {% block style %}{% endblock style %}
</head>

<body class="bg-light">

    <div class="initial-wrap">

        <!-- Navbar -->
        <header class="header">
            <div class="header-content w-100">
                <a href="{% url 'landing_page' %}" class="logo">
                    <img src="{% static 'images/logo.svg' %}" style="max-width: 130px;" alt="">
                </a>
                <div class="profile">
                    <div class="dropdown">
                        <div class="dropdown-toggle d-flex align-items-center" type="button" data-bs-toggle="dropdown"
                            aria-expanded="false">
                            <div
                                style="border-radius: 50%; object-fit: cover; overflow: hidden; border: 3px solid #4f46e5;">
                                <img src="{% static 'images/profile-default-icon.jpg' %}" height="35px" width="35px"
                                    alt="">
                            </div>
                        </div>
                        <ul class="dropdown-menu">
                            <!-- <li><a class="dropdown-item" href="#">View profile</a></li> -->
                            <li><a class="dropdown-item" href="{% url 'core:change_password' %}">Change password</a>
                            </li>
                            <li><a class="dropdown-item text-danger" href="{% url 'core:logout' %}"><i
                                        class="fa-solid fa-arrow-right-from-bracket me-2"></i>Logout</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </header>

        <!-- Sidebar -->
        {% block sidebar %}{% endblock sidebar %}

        <!-- Main Content -->
        <section class="main-content">
            <div class="container">
                <!-- HTMX element to load priority notifications -->
                <div hx-get="{% url 'core:priority_notifications' %}" hx-trigger="load" hx-target="#priority-notifications" hx-swap="innerHTML">
                    <div id="priority-notifications">
                        <!-- Priority notifications will be loaded here -->
                    </div>
                </div>
                {% block content %}{% endblock %}
            </div>
        </section>
    </div>
    {% block scripts %}{% endblock scripts %}
    <script src="{% static 'utils/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
</body>

</html>