{% extends 'logged_out_user_base.html' %}
{% load static %}


{% block style %}
<link rel="stylesheet" href="{% static 'styles/landing_page/landing_page.css' %}">
{% endblock style %}

{% block title %}
Hello world
{% endblock title %}

{% block navbar %}
{% include 'logged_out_user_navbar.html' %}
{% endblock navbar %}

{% block content %}

<section id="landing-page">
    <div class="row">
        <div class="column col-12 col-lg">
            <div class="board-info">
                <div>
                    <h1>Moving minds,delivering dreams</h1>
                    <p>Transport made simple,experience,amplified</p>
                    <button class="btn btn-light btn-sm">Register now</button>
                    <button class="btn btn-outline-light btn-sm">Login</button>
                </div>
            </div>
        </div>
        <div class="column col-12 col-lg mb-3">
            <div class="landing-image">
                <img class="land" src="{% static 'images/landing.png' %}">
            </div>
        </div>
    </div>
</section>

{% endblock content %}