@use "../../sidebar_navbar_base" as *;

#more {
    .wrap {
        display: flex !important;
        justify-content: center !important;
        flex-wrap: wrap;
        justify-content: space-between;
        width: 100%;

        a {
            text-decoration: none;
        }

        .card {
            @media screen and (min-width: 1000px) {
                margin: 1rem;
            }
            margin: 10px 0px;
            border: 2px solid $indigo-100 !important;
            .card-body {
                display: grid;
                justify-content: center;
                .circle {
                    border-radius: 50%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    height: 80px;
                    width: 80px;
                    background-color: $indigo-300;
                    i {
                        color: $indigo-600;
                        font-size: 25px;
                    }
                }
                .info {
                    margin-top: 5px;

                    h6 {
                        text-align: center !important;
                        color: $indigo-600;
                    }
                }
            }
        }
    }
}
