@import "../../sidebar_navbar_base";

#ticket-list {
    #offcanvasRightLabel {
        color: $indigo-600;
        font-weight: 503;
        font-size: 31px;
    }
    .Registrations {
        .table-responsive {
            .table {
                thead {
                    .font {
                        color: $slate-400;
                        font-weight: 502;
                    }
                }
            }
        }
    }
}

tbody,
td,
tfoot,
th,
thead,
tr {
    background: #ffffff00 !important;
    white-space: nowrap;
    padding: 1rem !important;
}
