{% extends 'logged_out_user_base.html' %}
{% load static %}

{% block style %}
<link rel="stylesheet" href="{% static 'styles/students/booking_success/style.css' %}">
{% endblock style %}

{% block navbar %}
{% include 'logged_out_user_navbar.html' %}
{% endblock navbar %}

{% block content %}

<section id="success">
    <div class="wrap">
        <div class="submit">
            <img src="{% static 'images/check-symbol.png' %}">
        </div>
        <div class="success">
            <div>
                <h1>Booking Success</h1>
                <p>{{ message }}</p>
                <a href="{% url 'students:validate_student' registration_code=registration.code %}" class="btn text-light">Book another<i class="fa-solid fa-arrow-right ms-2"></i></a>
            </div>
        </div>
    </div>
</section>
<p class="text-center"></p>

{% endblock content %}