{% extends 'logged_out_user_base.html' %}
{% load static %}

{% block style %}
<link rel="stylesheet" href="{% static 'styles/students/rules_and_regulation/style.css' %}">
{% endblock style %}

{% block navbar %}
{% include 'logged_out_user_navbar.html' %}
{% endblock navbar %}

{% block content %}
<!-- cards -->
<div class="card">
    <div>
        <h2>Rules and Regulations</h2>
        <p class="text-body-secondary">Please read completely</p>
    </div>
    <div class="roll">
        {{registration.instructions|safe}}
    </div>
    <div class="footer">
        <a href="{% url 'students:schedule_group_select' registration_code=registration.code %}" class="btn btn-primary">Accept rules and regulations</a>
    </div>
</div>

{% endblock content %}


