<section class="sidebar">
    <div class="nav">
        <a href="{% url 'drivers:dashboard' %}" class="navlink {% if request.resolver_match.url_name == 'dashboard' %}active{% endif %}"> 
            <i class="fa-solid fa-columns me-2"></i><span>Dashboard</span>
        </a>
        <a href="#" class="navlink"> 
            <i class="fa-solid fa-route me-2"></i><span>My Routes</span>
        </a>
        <a href="#" class="navlink">
            <i class="fa-solid fa-calendar-days me-2"></i><span>Schedule</span>
        </a>
        <a href="{% url 'drivers:refueling_list' %}" class="navlink {% if request.resolver_match.url_name == 'refueling_list' or request.resolver_match.url_name == 'refueling_create' %}active{% endif %}">
            <i class="fa-solid fa-gas-pump me-2"></i><span>Refueling Records</span>
        </a>
        <a href="{% url 'core:notification_list' %}" class="navlink {% if request.resolver_match.url_name == 'notification_list' %}active{% endif %}">
            <i class="fa-solid fa-bell me-2"></i><span>Notifications</span>
        </a>
    </div>
</section>
