.btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-weight: 500;
  cursor: pointer;
  text-align: center;
}

.btn-primary {
  padding: 0.5rem 1rem;
  font-size: 1rem;
  background-color: #4f46e5;
  color: #ffffff;
  border: 1px solid #4f46e5;
  border-radius: 0.375rem;
  transition: background-color 0.2s ease-in-out;
}
.btn-primary:hover, .btn-primary:focus, .btn-primary:active {
  opacity: 0.9;
}
.btn-primary:hover, .btn-primary:focus, .btn-primary:active {
  background-color: rgb(41.1374407583, 30.5592417062, 217.4407582938);
  border-color: rgb(41.1374407583, 30.5592417062, 217.4407582938);
}

.btn-secondary {
  padding: 0.5rem 1rem;
  font-size: 1rem;
  background-color: #eef2ff;
  color: #312e81;
  border: 1px solid #eef2ff;
  border-radius: 0.375rem;
  transition: background-color 0.2s ease-in-out;
}
.btn-secondary:hover, .btn-secondary:focus, .btn-secondary:active {
  opacity: 0.9;
}
.btn-secondary:hover, .btn-secondary:focus, .btn-secondary:active {
  color: #312e81;
  background-color: #eef2ff;
  border-color: #eef2ff;
}

.btn-outline {
  padding: 0.5rem 1rem;
  font-size: 1rem;
  background-color: trasparent;
  color: #0f172a;
  border: 1px solid #94a3b8;
  border-radius: 0.375rem;
  transition: background-color 0.2s ease-in-out;
}
.btn-outline:hover, .btn-outline:focus, .btn-outline:active {
  opacity: 0.9;
}
.btn-outline:hover, .btn-outline:focus, .btn-outline:active {
  color: #ffffff;
  background-color: #0f172a;
  border-color: #0f172a;
}

.btn-link {
  padding: 0.5rem 1rem;
  font-size: 1rem;
  background-color: transparent;
  color: #4f46e5;
  border: 1px solid none;
  border-radius: 0.375rem;
  transition: background-color 0.2s ease-in-out;
  font-weight: 500;
}
.btn-link:hover, .btn-link:focus, .btn-link:active {
  opacity: 0.9;
}

.link {
  color: #4f46e5;
  font-weight: 500;
}
.link:hover, .link:focus, .link:active {
  color: rgb(41.1374407583, 30.5592417062, 217.4407582938);
}

header .navbar {
  background-color: #4f46e5 !important;
}
header .navbar .offcanvas-body .nav-item {
  padding: 0 1rem;
}
@media screen and (max-width: 991px) {
  header .navbar .offcanvas-body .nav-item {
    margin-bottom: 1rem;
  }
}
header .navbar .offcanvas-body .nav-item .nav-link {
  color: #ffffff;
}
@media screen and (max-width: 991px) {
  header .navbar .offcanvas-body .nav-item .nav-link {
    color: #000000;
  }
}

.container {
  margin-top: 67px;
  padding-top: 3rem;
  padding-bottom: 3rem;
}

.bg-light .container {
  margin-top: 0;
  padding-top: 0;
  padding-bottom: 0;
}

#hero {
  background: rgb(120, 112, 255) !important;
  background: linear-gradient(0deg, rgb(103, 96, 242) 0%, rgb(103, 96, 242) 6%, rgb(79, 70, 229) 66%, rgb(79, 70, 229) 90%) !important;
  color: white;
  margin-top: 4rem;
  padding: 4rem 0;
}
@media screen and (min-width: 992px) {
  #hero {
    display: flex;
    align-items: center;
    margin-top: 0;
    padding: 8rem 0;
  }
}
#hero .board-info {
  display: flex;
  justify-content: center;
  height: 100%;
  width: 100%;
  align-items: center;
}
@media screen and (max-width: 991px) {
  #hero .board-info .text-wrap {
    max-width: 570px;
  }
}
#hero .board-info h1 {
  font-weight: 700;
  font-size: 56px;
}
#hero .board-info p {
  margin-top: 0;
  margin-bottom: 2rem;
  font-size: 24px;
}
#hero .board-info .btn-secondary {
  font-weight: 700;
}
@media screen and (max-width: 991px) {
  #hero .landing-image {
    margin-top: 2rem;
    display: flex;
    justify-content: center;
  }
}
#hero .landing-image .land {
  width: 100%;
  max-width: 570px;
  height: 520px;
  border-radius: 10px;
  -o-object-fit: cover;
     object-fit: cover;
}

#question {
  padding: 4rem 0 0 0;
}
#question h2 {
  font-size: 2rem;
  font-weight: 700;
}
#question .que {
  padding: 15px;
  background-color: transparent;
}
#question .que button {
  background-color: rgba(213, 210, 210, 0.1607843137);
}
#question .que .accordion-body {
  background-color: rgba(213, 210, 210, 0.1607843137);
}

#features {
  background-color: #f8f9fa;
  padding: 3rem 0;
}
#features .container {
  padding: 2rem auto;
}
#features .container h2 {
  margin-bottom: 2rem;
  font-size: 2rem;
  font-weight: 700;
  color: #343a40;
}
#features .container .features-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
}
@media screen and (max-width: 991px) {
  #features .container .features-grid {
    grid-template-columns: 1fr;
  }
}
#features .container .feature-card {
  padding: 2rem;
  background-color: rgba(255, 255, 255, 0);
  border-radius: 10px;
  transition: transform 0.3s ease, box-shadow 0.3s ease, background-color 0.3s ease;
}
#features .container .feature-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.15);
  background-color: white;
}
#features .container .feature-card .feature-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1.5rem;
}
@media screen and (max-width: 577px) {
  #features .container .feature-card .feature-content {
    flex-direction: column-reverse;
    text-align: center;
  }
}
#features .container .feature-card .feature-content .feature-image img {
  width: 150px;
  height: 150px;
  border-radius: 10px;
  -o-object-fit: cover;
     object-fit: cover;
}
@media screen and (max-width: 577px) {
  #features .container .feature-card .feature-content .feature-image {
    width: 100%;
    height: auto;
  }
}
@media screen and (max-width: 523px) {
  #features .container .feature-card .feature-content .feature-image {
    display: flex;
    justify-content: center;
  }
}
#features .container .feature-card .feature-content .feature-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-grow: 1;
}

#footer {
  margin-top: 23px;
  width: 100%;
  padding: 10px 0;
  background-color: #000;
  color: #f1f1f1;
  text-align: center;
}
#footer .box {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding: 10px;
}
@media screen and (max-width: 534px) {
  #footer .box {
    flex-direction: column-reverse;
  }
}
#footer .box .pic {
  display: flex;
  justify-content: center;
}
#footer .box .footer-list {
  font-size: 0.9rem;
}
#footer .box .footer-list p {
  margin: 0;
}
#footer .box .footer-list a {
  text-decoration: none;
  color: #f1f1f1;
}
#footer .box .footer-list a:hover {
  color: #ddd;
}/*# sourceMappingURL=landing_page.css.map */