@use "../logged_out_user_navbar" as *;

.bg-light {
    .container {
        margin-top: 0;
        padding-top: 0;
        padding-bottom: 0;
    }
}

#hero {
    background: rgb(120, 112, 255) !important;
    background: linear-gradient(
        0deg,
        rgb(103, 96, 242) 0%,
        rgb(103, 96, 242) 6%,
        rgba(79, 70, 229, 1) 66%,
        rgba(79, 70, 229, 1) 90%
    ) !important;

    color: white;
    margin-top: 4rem;
    padding: 4rem 0;
    @media screen and (min-width: 992px) {
        // height: 100vh;
        display: flex;
        align-items: center;
        margin-top: 0;
        padding: 8rem 0;
    }

    .board-info {
        display: flex;
        justify-content: center;
        height: 100%;
        width: 100%;
        align-items: center;
        @media screen and (max-width: 991px) {
            .text-wrap {
                max-width: 570px;
            }
        }
        h1 {
            font-weight: 700;
            font-size: 56px;
        }
        p {
            margin-top: 0;
            margin-bottom: 2rem;
            font-size: 24px;
        }
        .btn-secondary {
            font-weight: 700;
        }
    }
    .landing-image {
        @media screen and (max-width: 991px) {
            margin-top: 2rem;
            display: flex;
            justify-content: center;
        }
        .land {
            width: 100%;
            max-width: 570px;
            height: 520px;
            border-radius: 10px;
            object-fit: cover;
        }
    }
}

#question {
    padding: 4rem 0 0 0;

    h2 {
        font-size: 2rem;
        font-weight: 700;
    }
    .que {
        padding: 15px;
        background-color: transparent;
        button {
            background-color: #d5d2d229;
        }
        .accordion-body {
            background-color: #d5d2d229;
        }
    }
}

#features {
    background-color: #f8f9fa;
    padding: 3rem 0;

    .container {
        padding: 2rem auto;

        h2 {
            margin-bottom: 2rem;
            font-size: 2rem;
            font-weight: 700;
            color: #343a40;
        }

        .features-grid {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            gap: 2rem;

            @media screen and (max-width: 991px) {
                grid-template-columns: 1fr;
            }
        }

        .feature-card {
            padding: 2rem;
            background-color: #ffffff00;
            border-radius: 10px;
            transition:
                transform 0.3s ease,
                box-shadow 0.3s ease, background-color 0.3s ease;

            &:hover {
                transform: translateY(-5px);
                box-shadow: 0 6px 10px rgba(0, 0, 0, 0.15);
                background-color: #ffff;
            }

            .feature-content {
                display: flex;
                align-items: center;
                justify-content: space-between;
                gap: 1.5rem;

                @media screen and (max-width: 577px) {
                    flex-direction: column-reverse;
                    text-align: center;
                }

                .feature-image {
                    img {
                        width: 150px;
                        height: 150px;
                        border-radius: 10px;
                        object-fit: cover;
                    }

                    @media screen and (max-width: 577px) {
                        width: 100%;
                        height: auto;
                    }

                    @media screen and (max-width: 523px) {
                        display: flex;
                        justify-content: center;
                    }
                }

                .feature-info {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    flex-grow: 1;
                }
            }
        }
    }
}

#footer {
    margin-top: 23px;
    width: 100%;
    padding: 10px 0;
    background-color: #000;
    color: #f1f1f1;
    text-align: center;

    .box {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 10px;
        padding: 10px;

        @media screen and (max-width: 534px) {
            flex-direction: column-reverse;
        }

        .pic {
            display: flex;
            justify-content: center;
        }

        .footer-list {
            font-size: 0.9rem;

            p {
                margin: 0;
            }

            a {
                text-decoration: none;
                color: #f1f1f1;

                &:hover {
                    color: #ddd;
                }
            }
        }
    }
}

