@import '../../sidebar_navbar_base';

#routes {
    .title-section {
      display: flex;
      justify-content: space-between;
      align-items: center;
      h3 {
        color: $indigo-600;
        font-weight: 700;
      }

      .dropdown{
        .dropdown-menu{
          .dropdown-item{
            padding: 1rem;
          }
        }
      }
    }
    .route-list {
      .table-responsive {
        display: flex;
        padding: 1rem 0;
        .card {
          width: 20rem;
        }
      }
    }
  }
  
  #stops {
    .title-section {
      display: flex;
      align-items: center;
      justify-content: space-between;
      h3 {
        color: $indigo-600;
        font-weight: 700;
      }
      input {
        border-radius: 5px;
        border: 1px solid $slate-400;
      }
      .search {
        background-color: $indigo-200;
        color: $indigo-800;
        border: none;
        height: 37px;
        width: 95px;
        margin-left: 1rem;
      }
    }
    .stop-list {
      .list-group {
        border-radius: 0;
        .list-group-item {
          display: flex;
          justify-content: space-between;
          align-items: center;
          padding: 1rem;
        }
      }
    }
  }