{% load static %}
<div class="modal-body">
    <div class="alert alert-warning" role="alert">
        <i class="fa-solid fa-exclamation-triangle me-2"></i>
        <strong>Confirm Password Reset</strong>
        <p class="mb-0 mt-2">
            Are you sure you want to generate a new password for 
            <strong>{{ profile.first_name }} {{ profile.last_name }}</strong>?
        </p>
    </div>

    <div class="info-box mb-3">
        <h6 class="text-muted mb-3">What will happen:</h6>
        <ul class="mb-0">
            <li>A new random password will be generated</li>
            <li>The user's current password will be invalidated</li>
            <li>You will receive the password to share with <strong>{{ profile.user.email }}</strong></li>
        </ul>
    </div>
</div>

<div class="modal-footer">
    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
        <i class="fa-solid fa-times me-2"></i>Cancel
    </button>
    <button type="button" 
            class="btn btn-warning"
            onclick="generatePassword('{% url 'central_admin:generate_password' slug=profile.slug %}')">
        <i class="fa-solid fa-check me-2"></i>Yes, Generate Password
    </button>
</div>
