.btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-weight: 500;
  cursor: pointer;
  text-align: center;
}

.btn-primary {
  padding: 0.5rem 1rem;
  font-size: 1rem;
  background-color: #4f46e5;
  color: #ffffff;
  border: 1px solid #4f46e5;
  border-radius: 0.375rem;
  transition: background-color 0.2s ease-in-out;
}
.btn-primary:hover, .btn-primary:focus, .btn-primary:active {
  opacity: 0.9;
}
.btn-primary:hover, .btn-primary:focus, .btn-primary:active {
  background-color: rgb(41.1656398104, 30.5801895735, 217.5898104265);
  border-color: rgb(41.1656398104, 30.5801895735, 217.5898104265);
}

.btn-secondary {
  padding: 0.5rem 1rem;
  font-size: 1rem;
  background-color: #eef2ff;
  color: #312e81;
  border: 1px solid #eef2ff;
  border-radius: 0.375rem;
  transition: background-color 0.2s ease-in-out;
}
.btn-secondary:hover, .btn-secondary:focus, .btn-secondary:active {
  opacity: 0.9;
}
.btn-secondary:hover, .btn-secondary:focus, .btn-secondary:active {
  color: #312e81;
  background-color: #eef2ff;
  border-color: #eef2ff;
}

.btn-outline {
  padding: 0.5rem 1rem;
  font-size: 1rem;
  background-color: trasparent;
  color: #0f172a;
  border: 1px solid #94a3b8;
  border-radius: 0.375rem;
  transition: background-color 0.2s ease-in-out;
}
.btn-outline:hover, .btn-outline:focus, .btn-outline:active {
  opacity: 0.9;
}
.btn-outline:hover, .btn-outline:focus, .btn-outline:active {
  color: #ffffff;
  background-color: #0f172a;
  border-color: #0f172a;
}

.btn-link {
  padding: 0.5rem 1rem;
  font-size: 1rem;
  background-color: transparent;
  color: #4f46e5;
  border: 1px solid none;
  border-radius: 0.375rem;
  transition: background-color 0.2s ease-in-out;
  font-weight: 500;
}
.btn-link:hover, .btn-link:focus, .btn-link:active {
  opacity: 0.9;
}

.link {
  color: #4f46e5;
  font-weight: 500;
}
.link:hover, .link:focus, .link:active {
  color: rgb(41.1656398104, 30.5801895735, 217.5898104265);
}

header .navbar {
  background-color: #4f46e5 !important;
}
header .navbar .offcanvas-body .nav-item {
  padding: 0 1rem;
}
@media screen and (max-width: 991px) {
  header .navbar .offcanvas-body .nav-item {
    margin-bottom: 1rem;
  }
}
header .navbar .offcanvas-body .nav-item .nav-link {
  color: #ffffff;
}
@media screen and (max-width: 991px) {
  header .navbar .offcanvas-body .nav-item .nav-link {
    color: #000000;
  }
}

.container {
  margin-top: 67px;
  padding-top: 3rem;
  padding-bottom: 3rem;
}

#student-bus-search-form #form-section {
  padding-top: 3rem;
  margin-bottom: 3rem;
}
#student-bus-search-form #form-section .wrap {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}
#student-bus-search-form #form-section .wrap .card {
  display: flex;
  width: 100%;
  max-width: 410px;
  height: -moz-fit-content;
  height: fit-content;
  padding: 10px;
  background-color: transparent;
  border: none;
}
#student-bus-search-form #form-section .wrap .card .form {
  width: 100%;
}
#student-bus-search-form #form-section .wrap .card .form h2 {
  color: #4f46e5;
  font-weight: 700;
}
#student-bus-search-form #form-section .wrap .card .form .form-select {
  background-color: #eef2ff;
  border: none;
  height: 50px;
}
#student-bus-search-form #form-section .wrap .card .form .form-control {
  height: 50px;
}
#student-bus-search-form #form-section .student-image {
  display: flex;
  justify-content: center;
  align-items: center;
}
@media screen and (max-width: 990px) {
  #student-bus-search-form #form-section .student-image {
    margin-top: 2rem;
  }
}
#student-bus-search-form #form-section .student-image .image {
  width: 100%;
  height: -moz-fit-content;
  height: fit-content;
}
#student-bus-search-form #form-section .student-image .image .school {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 390px;
  border-radius: 5px;
}
#student-bus-search-form #faq-instruction {
  padding-bottom: 3rem;
}
#student-bus-search-form #faq-instruction .frequently-section {
  margin-top: 3rem !important;
}
#student-bus-search-form #faq-instruction .frequently-section .Instruction {
  margin-bottom: 2rem !important;
}
#student-bus-search-form #faq-instruction .frequently-section .Instruction h3 {
  font-weight: 510;
}

h2 {
  color: #4f46e5;
  font-weight: 700;
}/*# sourceMappingURL=style.css.map */