@use '../../logged_out_user_navbar' as *;

#student-bus-search-form{
    #form-section{
        padding-top: 3rem;
        margin-bottom:  3rem;
        .wrap{
            display: flex;
            align-items: center;
            justify-content: center;
            height:100%;
            .card{
                display: flex;
                width: 100%;
                max-width: 410px;
                height: fit-content;
                padding: 10px;
                background-color: transparent;
                border: none;
                .form{
                    width:100%;
                    h2{
                        color:$indigo-600;
                        font-weight: 700;
                    }
                    .form-select{
                       background-color:$indigo-50;
                       border: none;
                       height: 50px;
                    }
                    .form-control{
                        height: 50px;
                     }
                }
        }
    }
     
    .student-image{
        display: flex;
        justify-content: center;
        align-items: center;
        @media  screen and (max-width:990px) {
            margin-top:2rem;
        }
        .image{ 
            width: 100%;
            height: fit-content;
            .school{
                object-fit: cover;
                width: 100%;
                height: 390px;
                border-radius: 5px; 
            }
        }
       }    
    }
 
  
    #faq-instruction{
        padding-bottom: 3rem;
        .frequently-section{
            margin-top: 3rem !important;
            .Instruction{
                margin-bottom: 2rem !important;
              h3{
                font-weight: 510;
              }
            }
        }
    }
}

h2{
    color:$indigo-600;
    font-weight: 700;
}
