{% extends 'base.html' %}
{% load static %}

{% block style %}
<link rel="stylesheet" href="{% static 'styles/institution_admin/recipt_list/style.css' %}">
{% endblock style %}

{% block sidebar %}
{% include 'institution_admin/sidebar.html' %}
{% endblock sidebar %}

{% block content %}
<div class="d-flex justify-content-between mb-3">
    <div>
        <a href="{% url 'institution_admin:receipt_create' %}" class="btn btn-primary"><i
                class="fa-solid fa-plus me-2"></i>Add receipt</a>
        <a href="{% url 'institution_admin:receipt_data_file_upload' %}" class="btn btn-dark"><i class="fa-solid fa-cloud-arrow-up me-2">
        </i>Upload files</a>
    </div>
</div>

<div class="table-responsive">
    <table class="table">
        <thead>
            <tr>
                <td class="text-muted">Student ID</td>
                <td class="text-muted">Reciept ID</td>
                <td class="text-muted">Institution</td>
                <td class="text-muted">Student group</td>
                <td class="text-muted">Action</td>
            </tr>
        </thead>
        <tbody>
            {% for receipt in receipts %}
            <tr>
                <td>
                    {{receipt.student_id}}
                </td>
                <td>
                    {{receipt.receipt_id}}
                </td>
                <td>
                    {{receipt.institution}}
                </td>
                <td>
                    {{receipt.student_group}}
                </td>
                <td>
                    <a href="{% url 'institution_admin:receipt_delete' receipt_slug=receipt.slug %}"
                        class="btn btn-sm btn-danger">Delete</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
<div class="pagination-container d-md-flex justify-content-md-between align-items-center mt-3">
    <div class="text-muted mb-3 mb-md-0">
        {% if is_paginated %}
            Showing {{ page_obj.start_index }} to {{ page_obj.end_index }} of {{ page_obj.paginator.count }} receipts
        {% endif %}
    </div>
    <div>
        <nav aria-label="Page navigation">
            <ul class="pagination justify-content-md-end">
                {% if page_obj.has_previous %}
                    <li class="page-item">
                        <a class="page-link" href="?page=1" aria-label="First">
                            <span aria-hidden="true">&laquo;&laquo;</span>
                        </a>
                    </li>
                    <li class="page-item">
                        <a class="page-link" href="?page={{ page_obj.previous_page_number }}" aria-label="Previous">
                            <span aria-hidden="true">&laquo;</span>
                        </a>
                    </li>
                {% else %}
                    <li class="page-item disabled">
                        <a class="page-link" aria-label="First">
                            <span aria-hidden="true">&laquo;&laquo;</span>
                        </a>
                    </li>
                    <li class="page-item disabled">
                        <a class="page-link" aria-label="Previous">
                            <span aria-hidden="true">&laquo;</span>
                        </a>
                    </li>
                {% endif %}

                {% for num in page_obj.paginator.page_range %}
                    {% if page_obj.number == num %}
                        <li class="page-item active">
                            <a class="page-link">{{ num }}</a>
                        </li>
                    {% elif num >= page_obj.number|add:'-2' and num <= page_obj.number|add:'2' %}
                        <li class="page-item">
                            <a class="page-link" href="?page={{ num }}">{{ num }}</a>
                        </li>
                    {% endif %}
                {% endfor %}

                {% if page_obj.has_next %}
                    <li class="page-item">
                        <a class="page-link" href="?page={{ page_obj.next_page_number }}" aria-label="Next">
                            <span aria-hidden="true">&raquo;</span>
                        </a>
                    </li>
                    <li class="page-item">
                        <a class="page-link" href="?page={{ page_obj.paginator.num_pages }}" aria-label="Last">
                            <span aria-hidden="true">&raquo;&raquo;</span>
                        </a>
                    </li>
                {% else %}
                    <li class="page-item disabled">
                        <a class="page-link" aria-label="Next">
                            <span aria-hidden="true">&raquo;</span>
                        </a>
                    </li>
                    <li class="page-item disabled">
                        <a class="page-link" aria-label="Last">
                            <span aria-hidden="true">&raquo;&raquo;</span>
                        </a>
                    </li>
                {% endif %}
            </ul>
        </nav>
    </div>
</div>

{% endblock content %}