{% extends 'base.html' %}
{% load static %}

{% block style %}
<link rel="stylesheet" href="{% static 'styles/institution_admin/receipt_delete/style.css' %}">
{% endblock style %}

{% block sidebar %}
{% include 'institution_admin/sidebar.html' %}
{% endblock sidebar %}

{% block content %}
<h5>Remove recipt with id -{{ object.receipt_id }}- of student with id {{ object.student_id }}?</h5>
<p>This action cannot be undone.</p>

<form method="post">
    {% csrf_token %}
    <button class="btn btn-danger" type="submit">Yes remove</button>
    <a href="{% url 'institution_admin:receipt_list' %}">Cancel</a>
</form>
{% endblock %}