{% extends 'base.html' %}
{% load static %}

{% block style %}
<link rel="stylesheet" href="{% static 'styles/institution_admin/receipt_delete/style.css' %}">
{% endblock style %}

{% block sidebar %}
{% include 'institution_admin/sidebar.html' %}
{% endblock sidebar %}

{% block content %}
<h5>Remove recipt with id -{{ object.receipt_id }}- of student with id {{ object.student_id }}?</h5>

<p>
    {% if object.ticket %}
    <i class="text-danger">If this receipt get deleted you also cancel ticket for {{ object.ticket.student_name }} from {{ object.student_group }}</i> <br>
    {% endif %}
    This action cannot be undone.
</p>

<form method="post">
    {% csrf_token %}
    <button class="btn btn-sm btn-danger" type="submit">Yes remove</button>
    <a class="btn btn-sm text-primary" href="{% url 'institution_admin:receipt_list' registration_slug=object.registration.slug %}">Cancel</a>
</form>
{% endblock %}