<section class="sidebar">
    <div class="nav">
        <!-- <a href="{% url 'central_admin:institution_list' %}" class="navlink {% if request.resolver_match.url_name == 'institution_list' %}active{% endif %}"> <i class="fa-solid fa-graduation-cap me-2"></i><span>Institution</span></a> -->
        <a href="{% url 'institution_admin:registration_list' %}" class="navlink {% if request.resolver_match.url_name == 'registration_list' %}active{% endif %}"><i class="fa-solid fa-book-open-reader me-2"></i><span>Registration</span></a>
        <a href="{% url 'institution_admin:recipt_list' %}" class="navlink {% if request.resolver_match.url_name == 'recipt_list' %}active{% endif %}"><i class="fa-solid fa-receipt me-2"></i>Recipts</span></a>
        <a href="{% url 'institution_admin:student_group_list' %}" class="navlink {% if request.resolver_match.url_name == 'student_group_list' %}active{% endif %}"><i class="fa-solid fa-user-group me-2"></i>Groups</span></a>
    </div>
</section>