{% extends 'base.html' %}
{% load static %}

{% block style %}
<link rel="stylesheet" href="{% static 'styles/institution_admin/student_group_list/style.css' %}">
{% endblock style %}

{% block sidebar %}
{% include 'institution_admin/sidebar.html' %}
{% endblock sidebar %}

{% block content %}
<div class="d-flex justify-content-between mb-3">
    <div>
        <a href="#" class="btn btn-primary">Create Group</a>
    </div>
</div>
{% for group in student_groups %}
<li>
    {{group}}
</li>
{% endfor %}
{% endblock content %}