@use '../../sidebar_navbar_base' as *;

.gear{
    display:flex;
    justify-content: space-between;
    flex-wrap: wrap;
   
    .button{
        display: flex;
        justify-content: center;
        
    }
}
