@import '../../sidebar_navbar_base';

.gear{
    display:flex;
    justify-content: space-between;
    flex-wrap: wrap;
   
    .button{
        display: flex;
        justify-content: center;
        
    }
}
