@import '../../logged_out_user_navbar';

.bg-light{
    background-color: $indigo-600 !important;

    .container {
        margin-top: 0 !important;
        padding-top: 0 !important;
        padding-bottom: 0 !important;
    }

    #success{
        display: flex;
        height:100vh;
        justify-content: center;
        align-items: center;
        .wrap{
            color:white;
            height:fit-content;
            .submit{
                display: flex;
                justify-content: center;
                img{
                    width: 100px;
                    margin-bottom: 1rem;
                }
            }
            .success{
                text-align: center;
            }
        }
    }
}