@import '../../sidebar_navbar_base';

#bus_record{
    .back{
        display:flex;
        justify-content: space-between;
    }
}

tbody, td, tfoot, th, thead, tr {
    background: #ffffff00 !important;
    white-space: nowrap;
    padding: 1rem !important;
}