{% extends 'logged_out_user_base.html' %}
{% load static %}

{% block style %}
<link rel="stylesheet" href="{% static 'styles/login_page/style.css'%}">
{% endblock style%}

{% block content %}
<div id="login-page">
    <form action="" method="post">
        <div class="wrapper">
            <div class="outer">
                <div class="flex-box">
                    <div class="icon">
                        <i class="fa-solid fa-graduation-cap"></i>
                    </div>
                    <div class="form">
                        {% csrf_token %}
                        {{form.as_p}}
                        <div class="footer">
                            <button type="submit" class="btn btn-primary btn-sm me-2">Sign in</button>
                            <a href="#">Forget password?</a>
                        </div>
                    </div>
                </div>
                <div class="message mt-3">
                    <span>Don't have an account? </span>
                    <a class="ms-2" href="#">Register now</a>
                </div>
            </div>
        </div>

    </form>
</div>
{% endblock content %}