{% extends 'base.html' %}
{% load static %}

{% block style %}
<link rel="stylesheet" href="{% static 'styles/central_admin/bus_request_list/style.css' %}">
{% endblock style %}

{% block sidebar %}
{% include 'central_admin/sidebar/registration_sidebar.html' %}
{% endblock sidebar %}

{% block content %}
<section id="bus-requests">
    <div class="container">
        <div class="back mt-3">
            <a href="{% url 'central_admin:registration_detail' registration_slug=registration.slug %}"
                class="btn btn-secondary"><i class="fa-solid fa-arrow-left me-2"></i>Go back</a>
        </div>
        {% if bus_requests %}
        {% for bus_request in bus_requests %}
        <div class="content mt-3" style="cursor: pointer;">
            <div class="card" data-bs-toggle="modal" data-bs-target="#Modal{{bus_request.id}}">
                <div class="card-body d-flex" style="justify-content: space-between;">
                    <div class="info">
                        Bus request for {{bus_request.student_name}}
                    </div>
                    <div class="date">
                        <span class="text-muted">{{bus_request.created_at.date}}</span>
                    </div>
                </div>
                <div class="modal fade" id="Modal{{bus_request.id}}" tabindex="-1"
                    aria-labelledby="ModalLabel{{bus_request.id}}" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h1 class="modal-title fs-5" id="ModalLabel{{bus_request.id}}">Bus request for
                                    {{bus_request.student_name}}</h1>
                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                    aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                This is some text within a card body.
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                <button type="button" class="btn btn-primary">Save changes</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
        {% else %}
        <div class="text-center">
            <p class="text-muted">No bus requests yet</p>
        </div>
        {% endif %}
    </div>
</section>

{% endblock content %}