{% extends 'base.html' %}
{% load static %}

{% block style %}
<link rel="stylesheet" href="{% static 'styles/central_admin/bus_record_list/style.css' %}">
{% endblock style %}

{% block sidebar %}
{% include 'central_admin/sidebar/registration_sidebar.html' %}
{% endblock sidebar %}

{% block content %}

<section id="bus_record">
  <div class="container">
    <!-- button -->
    <div class="section-header">
      <div>
          <a href="{% url 'central_admin:registration_detail' registration_slug=registration.slug %}" class="btn btn-outline-dark btn-sm mb-3"><i class="fa-solid fa-arrow-left me-2"></i>Back</a>
       </div>
       <div class="gear">
         <div>
           <h2>Records</h2>
         </div>
          <div class="button d-flex gap-2">
             <a href="{% url 'central_admin:bus_record_create' registration_slug=registration.slug %}" class="btn btn-primary ms-2 mt-1" style="height:37px">Add<i class="fa-solid fa-plus ms-2"></i></a>
             <a href="{% url 'central_admin:bus_record_export_pdf' registration_slug=registration.slug %}" class="btn btn-success ms-2 mt-1" style="height:37px">Export PDF<i class="fa-solid fa-file-pdf ms-2"></i></a>
          </div>
      </div>
      <hr>
  </div>
    <!-- alert message -->
    {% if blank_records and not reset_filter %}
    <a href="{% url 'central_admin:bus_record_list' registration_slug=registration.slug %}?noneRecords=True"
      class="alert alert-warning d-flex align-items-center mt-3" role="alert" style="font-weight:600;">
      <div>
        <i class="fa-solid fa-triangle-exclamation me-2"></i>There are few buses records without bus assigned. Click
        here to view
      </div>
    </a>
    {% elif reset_filter %}
    <a href="{% url 'central_admin:bus_record_list' registration_slug=registration.slug %}"
      class="btn btn-dark mt-3 mb-3" role="alert" style="font-weight:600;">
      <div>
        <i class="fa-solid fa-x me-2"></i>Clear filters
      </div>
    </a>
    {% endif %}
    <!-- table -->
    <table class="table">
      <thead>
        <tr>
          <th class="text-body-secondary">Label</th>
          <th class="text-body-secondary">Registration no</th>
          <th class="text-body-secondary">Capacity</th>
          <th class="text-body-secondary">Action</th>
        </tr>
      </thead>
      <tbody>
        {% for record in bus_records %}
        <tr>
          <td class="fw-semibold">{{record.label}}</td>
          <td>
            {% if record.bus %}
            {{record.bus.registration_no}}
            {% else %}
            <b>----</b>
            {% endif %}
          </td>
          <td>
            {% if record.bus %}
            {{record.bus.capacity}}
            {% else %}
            <b>----</b>
            {% endif %}
          </td>
          <td>
            <a class="fw-semibold btn btn-sm btn-outline-dark" href="{% url 'central_admin:trip_list' registration_slug=registration.slug bus_record_slug=record.slug %}">View details</a>
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</section>

{% endblock content %}