{% extends 'base.html' %}
{% load static %}

{% block style %}
<link rel="stylesheet" href="{% static 'styles/central_admin/bus_record_list/style.css' %}">
{% endblock style %}

{% block sidebar %}
{% include 'central_admin/sidebar/registration_sidebar.html' %}
{% endblock sidebar %}

{% block content %}

<section id="bus_record">
  <div class="container">
    <!-- button -->
    <div class="back mt-3">
      <a href="{% url 'central_admin:registration_detail' registration_slug=registration.slug %}" class="btn btn-secondary"><i class="fa-solid fa-angle-left me-2"></i>Go back</a>
      <a class="btn  btn-primary btn-sm"
        href="{% url 'central_admin:bus_record_create' registration_slug=registration.slug %}"><i
          class="fa-solid fa-plus me-2"></i>Add bus record</a>
    </div>
    <!-- alert message -->
    <a href="#" class="alert alert-warning d-flex align-items-center mt-3" role="alert" style="font-weight:600;">
      <div>
        <i class="fa-solid fa-triangle-exclamation me-2"></i>There are few buses records without bus assigned. Click here to view
      </div>
    </a>
    <!-- table -->
    <table class="table">
      <thead>
        <tr>
          <th class="text-body-secondary">Label</th>
          <th class="text-body-secondary">Registration no</th>
          <th class="text-body-secondary">Route</th>
          <th class="text-body-secondary">Schedule</th>
          <th class="text-body-secondary">Capacity</th>
          <th class="text-body-secondary">Pick up count</th>
          <th class="text-body-secondary">Drop count</th>
          <th class="text-body-secondary">Seats progress</th>
        </tr>
      </thead>
      <tbody>
        {% for record in bus_records %}
        <tr>
          <td>
            <a style="font-weight: 600;" href="{% url 'central_admin:bus_record_update' registration_slug=registration.slug bus_record_slug=record.slug %}">{{record.label}}</a>
          </td>
          <td>{{record.bus.registration_no}}</td>
          <td>{{record.route}}</td>
          <td>{{record.schedule.name}}</td>
          <td>{{record.bus.capacity}}</td>
          <td>{{record.pickup_booking_count}}/{{record.bus.capacity}}</td>
          <td>{{record.drop_booking_count}}/{{record.bus.capacity}}</td>
          <td>
            <div class="progress" role="progressbar" aria-label="Example with label"
              aria-valuenow="{{ record.total_filled_seats_percentage }}" aria-valuemin="0" aria-valuemax="100">
              <div class="progress-bar bg-dark text-dark" style="width: {{ record.total_filled_seats_percentage }}%">
              </div>
            </div>
            <p class="mt-1 fw-bold text-center">{{ record.total_filled_seats_percentage }}%</p>
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</section>

{% endblock content %}
<ul>
  {% for record in bus_records %}
  <li>{{record.label}} | Pickup : {{record.pickup_booking_count}} | Drop : {{record.drop_booking_count}} | Available :
    {{record.total_available_seats}} | Route : {{record.route}} | Filled : {{record.total_filled_seats_percentage}}% |
    {{record.schedule}} | {{record.bus}} - <a
      href="{% url 'central_admin:bus_record_update' registration_slug=registration.slug bus_record_slug=record.slug %}">Update</a>
  </li>
  {% endfor %}
</ul>