{% extends 'base.html' %}
{% load static %}

{% block style %}
<link rel="stylesheet" href="{% static 'styles/central_admin/bus_record_list/style.css' %}">
{% endblock style %}

{% block sidebar %}
{% include 'central_admin/sidebar/registration_sidebar.html' %}
{% endblock sidebar %}

{% block content %}

<section id="bus_record">
  <div class="container">
    <!-- button -->
    <div class="back mt-3 mb-3">
      <a href="{% url 'central_admin:registration_detail' registration_slug=registration.slug %}"
        class="btn btn-secondary"><i class="fa-solid fa-angle-left me-2"></i>Go back</a>
      <a class="btn  btn-primary btn-sm"
        href="{% url 'central_admin:bus_record_create' registration_slug=registration.slug %}"><i
          class="fa-solid fa-plus me-2"></i>Add bus record</a>
    </div>
    <!-- alert message -->
    {% if blank_records and not reset_filter %}
    <a href="{% url 'central_admin:bus_record_list' registration_slug=registration.slug %}?noneRecords=True"
      class="alert alert-warning d-flex align-items-center mt-3" role="alert" style="font-weight:600;">
      <div>
        <i class="fa-solid fa-triangle-exclamation me-2"></i>There are few buses records without bus assigned. Click
        here to view
      </div>
    </a>
    {% elif reset_filter %}
    <a href="{% url 'central_admin:bus_record_list' registration_slug=registration.slug %}"
      class="btn btn-dark mt-3 mb-3" role="alert" style="font-weight:600;">
      <div>
        <i class="fa-solid fa-x me-2"></i>Clear filters
      </div>
    </a>
    {% endif %}
    <!-- table -->
    <table class="table">
      <thead>
        <tr>
          <th class="text-body-secondary">Label</th>
          <th class="text-body-secondary">Registration no</th>
          <th class="text-body-secondary">Capacity</th>
          <th class="text-body-secondary">Action</th>
        </tr>
      </thead>
      <tbody>
        {% for record in bus_records %}
        <tr>
          <td>
            <a style="font-weight: 600;"
              href="{% url 'central_admin:bus_record_update' registration_slug=registration.slug bus_record_slug=record.slug %}">{{record.label}}</a>
          </td>
          <td>
            {% if record.bus %}
            {{record.bus.registration_no}}
            {% else %}
            <b>----</b>
            {% endif %}
          </td>
          <td>
            {% if record.bus %}
            {{record.bus.capacity}}
            {% else %}
            <b>----</b>
            {% endif %}
          </td>
          <td>
            <a class="text-primary fw-semibold" href="{% url 'central_admin:trip_list' registration_slug=registration.slug bus_record_slug=record.slug %}">View details</a>
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</section>

{% endblock content %}