{% extends 'base.html' %}
{% load static %}

{% block style %}
<link rel="stylesheet" href="{% static 'styles/central_admin/bus_list/style.css' %}">
{% endblock style %}

{% block sidebar %}
{% include 'central_admin/more_menu_sidebar.html' %}
{% endblock sidebar %}

{% block content %}

<section id="bus-list">
  <div class="d-md-flex d-block justify-content-between align-items-center  mt-2 mb-4">
    <div class="mb-3 mb-md-0">
      <a class="btn btn-secondary me-2" href="{% url 'central_admin:more_menu' %}"><i class="fa-solid fa-angle-left me-2"></i>Go back</a>
      <a href="{% url 'central_admin:bus_create' %}" class="btn btn-primary me-2 me-md-0"><i
          class="fa-solid fa-plus me-md-2 me-0"></i>Add bus</a>
    </div>
    <div>
      <form class="d-flex" role="search">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-dark" type="submit">
          <span class="d-none d-md-inline">Search</span><i class="fa-solid fa-magnifying-glass ms-md-2"></i></button>
      </form>
    </div>
  </div>
  <div class="table-responsive">
    <table class="table">
      <thead>
        <tr>
          <td class="text-muted">Bus Label</td>
          <th class="text-muted">Bus number</th>
          <th class="text-muted">Driver name</th>
          <th class="text-muted">Action</th>
        </tr>
      </thead>
      <tbody>
        {% for bus in buses %}
        <tr>
          <td>{{bus.label}}</td>
          <td>{{bus.bus_no}}</td>
          <td>{{bus.driver}}</td>
          <td class="table-link">
            <a href="{% url 'central_admin:bus_update' slug=bus.slug %}" class="btn btn-sm btn-dark">Edit</a>
            <a href="{% url 'central_admin:bus_delete' slug=bus.slug %}" class="btn btn-sm btn-danger">Delete</a>
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</section>

{% endblock content %}