{% extends 'base.html' %}
{% load static %}

{% block style %}
<link rel="stylesheet" href="{% static 'styles/central_admin/bus_request_list/style.css' %}">
{% endblock style %}

{% block sidebar %}
{% include 'central_admin/more_menu_sidebar.html' %}
{% endblock sidebar %}

{% block content %}

<div class="mb-3">
    <a class="btn btn-secondary me-2" href="{% url 'central_admin:more_menu' %}"><i class="fa-solid fa-angle-left me-2"></i>Go back</a>
</div>

<ul>
    {% for request in bus_requests %}
    <li>{{request}}</li>
    {% endfor %}
</ul>

{% endblock content %}

