{% extends 'base.html' %}
{% load static %}

{% block style %}
<link rel="stylesheet" href="{% static 'styles/central_admin/bus_list/style.css' %}">
{% endblock style %}

{% block sidebar %}
{% include 'central_admin/sidebar.html' %}
{% endblock sidebar %}

{% block content %}

<section id="bus-list">
  
    <div class="section-header">
       <div class="d-flex justify-content-between">
         <div>
           <h2>Buses</h2>
         </div>
          <div class="button">
            <a href="{% url 'central_admin:bus_create' %}" class="btn btn-primary me-2 me-md-0 me-2"><i
              class="fa-solid fa-plus me-md-2 me-0"></i>Add bus</a>
            <a href="{% url 'central_admin:bus_upload' %}" class="btn btn-secondary"><i class="fa-solid fa-cloud-arrow-up me-2"></i>Upload files</a>
          </div>
      </div>
      <hr>
  </div>
    <!-- <div>
      <form class="d-flex" role="search">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-dark" type="submit">
          <span class="d-none d-md-inline">Search</span><i class="fa-solid fa-magnifying-glass ms-md-2"></i></button>
      </form>
    </div> -->
  
  <div class="table-responsive">
    <table class="table">
      <thead>
        <tr>
          <td class="text-muted">Registration no</td>
          <!-- <th class="text-muted">Driver name</th> -->
          <th class="text-muted">Capacity</th>
          <th class="text-muted">Status</th>
          <th class="text-muted">Action</th>
        </tr>
      </thead>
      <tbody>
        {% for bus in buses %}
        <tr>
          <td>
            <a href="{% url 'central_admin:bus_detail' slug=bus.slug %}" class="bus-link fw-bold text-dark">
              {{bus.registration_no}}
            </a>
          </td>
          <!-- <td>{{bus.driver}}</td> -->
          <td>{{bus.capacity}}</td>
          <td>
            {% if bus.is_available %}
            <span class="badge text-bg-success">Available</span>
            {% else %}
            <span class="badge text-bg-danger">Mantainance</span>
            {% endif %}
          </td>
          <td class="table-link">
            <!-- <a href="{% url 'central_admin:bus_detail' slug=bus.slug %}" class="btn btn-sm btn-info">View</a> -->
            <a href="{% url 'central_admin:bus_update' slug=bus.slug %}" class="btn btn-sm btn-dark">Edit</a>
            <a href="{% url 'central_admin:bus_delete' slug=bus.slug %}" class="btn btn-sm btn-danger">Delete</a>
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</section>

{% endblock content %}