{% extends 'base.html' %}
{% load static %}

{% block style %}
<link rel="stylesheet" href="{% static 'styles/central_admin/more_menu/style.css' %}">
{% endblock style %}

{% block sidebar %}
{% include 'central_admin/sidebar.html' %}
{% endblock sidebar %}

{% block content %}
<section id="more">
    <div class="container">
        <div class="wrap">
            <div class="card" style="width: 27rem;">
                <div class="card-body">
                    <div class="circle mb-3">
                      <i class="fa-regular fa-clock"></i>
                    </div> 
                    <div class="info">
                        <a href="{% url 'central_admin:schedule_list' %}"><h6>Schedule</h6></a>
                    </div>
                </div>
            </div>
            <div class="card" style="width: 27rem;">
                <div class="card-body">
                    <div class="circle mb-3">
                        <i class="fa-solid fa-map"></i> 
                    </div> 
                    <div class="info">
                         <a href="{% url 'central_admin:route_list' %}"><h6>Routes</h6></a>
                    </div>
                </div>
            </div>
            <div class="card" style="width: 27rem;">
                <div class="card-body">
                    <div class="circle mb-3">
                        <i class="fa-solid fa-bus"></i>
                    </div> 
                    <div class="info">
                        <a href="{% url 'central_admin:bus_list' %}"><h6>Buses</h6></a>
                    </div>
                </div>
            </div>
            <div class="card" style="width: 27rem;">
                <div class="card-body">
                    <div class="circle mb-3">
                      <i class="fa-solid fa-receipt"></i>
                    </div> 
                    <div class="info">
                        <a href="#"><h6>Receipts</h6></a>
                    </div>
                </div>
            </div>
            <div class="card" style="width: 27rem;">
                <div class="card-body">
                    <div class="circle mb-3">
                        <i class="fa-regular fa-envelope"></i>
                    </div> 
                    <div class="info">
                        <a href="#"><h6>Request</h6></a>
                    </div>
                </div>
            </div>
            <div class="card" style="width: 27rem;">
                <div class="card-body">
                    <div class="circle mb-3">
                        <i class="fa-solid fa-box-archive"></i>
                    </div> 
                    <div class="info">
                        <a href="#"><h6>Archives</h6></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock content %}