{% extends 'base.html' %}
{% load static %}

{% block style %}
<link rel="stylesheet" href="{% static 'styles/central_admin/people_list/style.css' %}">
{% endblock style %}

{% block sidebar %}
{% include 'central_admin/sidebar.html' %}
{% endblock sidebar %}

{% block content %}

<section id="people-list">
    <!-- search bar -->
    <div class="d-flex justify-content-between  align-items-center  mt-2 mb-5">
      <div>
        <a href="{% url 'central_admin:people_create' %}" class="btn btn-primary">Add people</a>
      </div>
      <div>
        <form class="d-flex" role="search">
          <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-dark" type="submit">Search<i
              class="fa-solid fa-magnifying-glass ms-3"></i></button>
        </form>
      </div>
    </div>

    <!-- table -->
    <table class="table">
      <thead>
        <tr>
          <td class="text-muted">Name</td>
          <th class="text-muted">Role</th>
          <th class="text-muted">Action</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Navan Kumar</td>
          <td>Institution Admin</td>
          <td class="table-link"><a href="#">View more</a></td>
        </tr>
        <tr>
          <td>Navan Kumar</td>
          <td>Driver</td>
          <td class="table-link"><a href="#">View more</a></td>
        </tr>
        <tr>
          <td>Navan Kumar</td>
          <td>Institution Admin</td>
          <td class="table-link"><a href="#">View more</a></td>
        </tr>
        <tr>
          <td>Navan Kumar</td>
          <td>Driver</td>
          <td class="table-link"><a href="#">View more</a></td>
        </tr>
        <tr>
          <td>Navan Kumar</td>
          <td>Driver</td>
          <td class="table-link"><a href="#">View more</a></td>
        </tr>
        <tr>
          <td>Navan Kumar</td>
          <td>Driver</td>
          <td class="table-link"><a href="#">View more</a></td>
        </tr>
        <tr>
          <td>Navan Kumar</td>
          <td>Driver</td>
          <td class="table-link"><a href="#">View more</a></td>
        </tr>
        <tr>
          <td>Navan Kumar</td>
          <td>Driver</td>
          <td class="table-link"><a href="#">View more</a></td>
        </tr>
        <tr>
          <td>Navan Kumar</td>
          <td>Driver</td>
          <td class="table-link"><a href="#">View more</a></td>
        </tr>
      </tbody>
    </table>
  </section>

{% endblock content %}