{% extends 'base.html' %}
{% load static %}

{% block style %}
<link rel="stylesheet" href="{% static 'styles/central_admin/people_list/style.css' %}">
{% endblock style %}

{% block sidebar %}
{% include 'central_admin/sidebar.html' %}
{% endblock sidebar %}

{% block content %}

<section id="people-list">
  <!-- search bar -->
  <div class="d-md-flex d-block justify-content-between align-items-center  mt-2 mb-4">
    <div class="mb-3 mb-md-0">
      <a href="{% url 'central_admin:people_create' %}" class="btn btn-primary"><i class="fa-solid fa-plus me-2"></i>Add people</a>
    </div>
    <!-- <div>
      <form class="d-flex" role="search">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-dark" type="submit">
          <span class="d-none d-md-inline">Search</span><i class="fa-solid fa-magnifying-glass ms-md-2"></i></button>
      </form>
    </div> -->
  </div>

  <!-- table -->
  <div class="table-responsive">
    <table class="table">
      <thead>
        <tr>
          <td class="text-muted">Name</td>
          <th class="text-muted">Role</th>
          <th class="text-muted">Action</th>
        </tr>
      </thead>
      <tbody>
        {% for person in people %}
        <tr>
          <td>
            <span class="name">{{person.first_name}} {{person.last_name}}</span>
            {% if request.user.profile == person %}
            (You)
            {% endif %}
          </td>
          <td>
            {% if person.is_institution_admin %}
            Institution Admin [{{person.institution}}]
            {% elif person.is_central_admin %}
            Central admin
            {% endif %}
          </td>
          <td>
            <a href="{% url 'central_admin:people_delete' slug=person.slug %}" class="btn btn-sm text-danger"><i class="fa-solid fa-trash me-2"></i>Delete</a>
            <a href="{% url 'central_admin:people_update' slug=person.slug %}" class="btn btn-sm btn-dark"><i class="fa-solid fa-pen-to-square me-2"></i>Edit</a>
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</section>

{% endblock content %}