{% extends 'base.html' %}
{% load static %}

{% block style %}
<link rel="stylesheet" href="{% static 'styles/central_admin/registration_detail/style.css' %}">
{% endblock style %}

{% block sidebar %}
{% include 'central_admin/sidebar/registration_sidebar.html' %}
{% endblock sidebar %}

{% block content %}

<section id="registration-dashobard">
    <div class="row">


        <div class="col-12 col-lg-4">
            <div class="header-button-group">
                <div class="back">
                    <a href="{% url 'central_admin:registration_list' %}">
                        <button type="button" class="btn btn-outline-dark btn-sm">
                            <i class="fa-solid fa-arrow-left me-2"></i>Go back
                        </button>
                    </a>
                </div>
                <div class="setting">
                    <a href="{% url 'central_admin:registration_update' registration_slug=registration.slug %}">
                        <button type="button" class="btn btn-sm">
                            <i class="fa-solid fa-gear me-2"></i>Settings
                        </button>
                    </a>
                </div>
            </div>
            <div class="content">

                <div class="card registration-count">
                    <div class="card-body">
                        <h5 class="card-title">Total Registration</h5>
                        <h6 class="card-subtitle">{{registration.tickets.all.count}}</h6>
                    </div>
                </div>

                <div class="card stop-frequency">
                    <div class="card-body">
                        <h5 class="card-title">Manage Installment Dates</h5>
                        <div>
                            <p class="text-muted">
                                Set up payment installment schedules with due dates to track student payments effectively.
                            </p>
                            <a class="btn btn-secondary" href="{% url 'central_admin:installment_date_list' registration_slug=registration.slug %}">
                                Manage Installments<i class="fa-solid fa-arrow-right ms-2"></i>
                            </a>
                        </div>
                    </div>
                </div>

            </div>
        </div>


        <div class="col-12 col-lg-8">

            <div class="table-content">

                <div class="heading">
                    <h2>Recent registrations</h2>
                    <div class="button-group">
                        <a href="{% url 'central_admin:ticket_list' registration_slug=registration.slug %}">
                            <button type="button" class="btn btn-primary">
                                View all<i class="fa-solid fa-arrow-right ms-2"></i>
                            </button>
                        </a>
                    </div>
                </div>

                <div class="table-responsive">
                    <table class="table">
                        <thead>
                            <tr>
                                <th scope="col">Student ID</th>
                                <th scope="col">Name</th>
                                <th scope="col">School</th>
                                <th scope="col">Type</th>
                                <th scope="col">Ticket ID</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for ticket in recent_tickets %}
                            <tr>
                                <td>{{ticket.student_id}}</td>
                                <td>{{ticket.student_name}}</td>
                                <td>{{ticket.institution.name}}</td>
                                <td>
                                    <span class="badge rounded-pill 
                                    {% if ticket.ticket_type == 'one_way' %}text-bg-primary
                                    {% elif ticket.ticket_type == 'two_way' %}text-bg-dark
                                    {% endif %} px-3" style="padding-bottom: 6px;">
                                        {{ ticket.get_ticket_type_display }}
                                    </span>
                                </td>
                                <td>{{ticket.ticket_id}}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>

            </div>

        </div>


    </div>
</section>
{% endblock content %}