{% extends 'base.html' %}
{% load static %}

{% block style %}
<link rel="stylesheet" href="{% static 'styles/central_admin/registration_detail/style.css' %}">
{% endblock style %}

{% block sidebar %}
{% include 'central_admin/sidebar.html' %}
{% endblock sidebar %}

{% block content %}

<section id="registration-dashobard">
    <div class="row">


        <div class="col-12 col-lg-4">
            <div class="header-button-group">
                <div class="back">
                    <button type="button" class="btn btn-outline-dark btn-sm">
                        <i class="fa-solid fa-arrow-left me-2"></i>Go back
                    </button>
                </div>
                <div class="setting">
                    <button type="button" class="btn btn-sm">
                        <i class="fa-solid fa-gear me-2"></i>Settings
                    </button>
                </div>
            </div>
            <div class="content">

                <div class="card registration-count">
                    <div class="card-body">
                        <h5 class="card-title">Total Registration</h5>
                        <h6 class="card-subtitle">200</h6>
                    </div>
                </div>

                <div class="card stop-frequency">
                    <div class="card-body">
                        <h5 class="card-title">Stops frequency</h5>
                        <div class="info">
                            <p class="card-text">Electronic city</p>
                            <p>30%</p>
                        </div>
                        <div class="info">
                            <p class="card-text">Hosa road</p>
                            <p>40%</p>
                        </div>
                        <div class="info">
                            <p class="card-text">Hosur</p>
                            <p>10%</p>
                        </div>
                        <div class="info">
                            <p class="card-text">Chandapura</p>
                            <p>5%</p>
                        </div>
                    </div>
                </div>

            </div>
        </div>


        <div class="col-12 col-lg-8">

            <div class="table-content">

                <div class="heading">
                    <h2>Recent registrations</h2>
                    <div class="button-group">
                        <button type="button" class="btn btn-primary">
                            View all<i class="fa-solid fa-arrow-right ms-2"></i>
                        </button>
                    </div>
                </div>

                <div class="table-responsive">
                    <table class="table">
                        <thead>
                            <tr>
                                <th scope="col">Name</th>
                                <th scope="col">School</th>
                                <th scope="col">Class</th>
                                <th scope="col">Timming</th>
                                <th scope="col">Booking</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Naman Kumar</td>
                                <td>SFS Public School</td>
                                <td>X</td>
                                <td>Morning/Evening</td>
                                <td>3KDFK32</td>
                            </tr>
                            <tr>
                                <td>Naman Kumar</td>
                                <td>SFS Public School</td>
                                <td>X</td>
                                <td>Morning/Evening</td>
                                <td>3KDFK32</td>
                            </tr>
                            <tr>
                                <td>Naman Kumar</td>
                                <td>SFS Public School</td>
                                <td>X</td>
                                <td>Morning/Evening</td>
                                <td>3KDFK32</td>
                            </tr>
                            <tr>
                                <td>Naman Kumar</td>
                                <td>SFS Public School</td>
                                <td>X</td>
                                <td>Morning/Evening</td>
                                <td>3KDFK32</td>
                            </tr>
                            <tr>
                                <td>Naman Kumar</td>
                                <td>SFS Public School</td>
                                <td>X</td>
                                <td>Morning/Evening</td>
                                <td>3KDFK32</td>
                            </tr>
                            <tr>
                                <td>Naman Kumar</td>
                                <td>SFS Public School</td>
                                <td>X</td>
                                <td>Morning/Evening</td>
                                <td>3KDFK32</td>
                            </tr>
                            <tr>
                                <td>Naman Kumar</td>
                                <td>SFS Public School</td>
                                <td>X</td>
                                <td>Morning/Evening</td>
                                <td>3KDFK32</td>
                            </tr>
                            <tr>
                                <td>Naman Kumar</td>
                                <td>SFS Public School</td>
                                <td>X</td>
                                <td>Morning/Evening</td>
                                <td>3KDFK32</td>
                            </tr>
                            <tr>
                                <td>Naman Kumar</td>
                                <td>SFS Public School</td>
                                <td>X</td>
                                <td>Morning/Evening</td>
                                <td>3KDFK32</td>
                            </tr>
                            <tr>
                                <td>Naman Kumar</td>
                                <td>SFS Public School</td>
                                <td>X</td>
                                <td>Morning/Evening</td>
                                <td>3KDFK32</td>
                            </tr>
                            <tr>
                                <td>Naman Kumar</td>
                                <td>SFS Public School</td>
                                <td>X</td>
                                <td>Morning/Evening</td>
                                <td>3KDFK32</td>
                            </tr>
                        </tbody>
                    </table>
                </div>

            </div>

        </div>


    </div>
</section>
{% endblock content %}