{% extends 'base.html' %}
{% load static %}

{% block style %}
<link rel="stylesheet" href="{% static 'styles/central_admin/registration_update/style.css' %}">
{% endblock style %}

{% block sidebar %}
{% include 'central_admin/sidebar.html' %}
{% endblock sidebar %}

{% block content %}

<section class="mb-4">
    <form action="" method="post">
        {% csrf_token %}
        {{form.as_p|safe}}
        <button type="submit" class="btn-primary">Update info</button>
    </form>
</section>


<section>
    <div class="card p-3">
        <div class="button-group w-100 d-flex justify-content-between mb-3">
            <div>
                <h4>Frequently asked questions</h4>
            </div>
            <div>
                <button type="button" class="btn btn-dark btn-sm" data-bs-toggle="modal" data-bs-target="#faq-form">
                    Add
                </button>

                <div class="modal fade" id="faq-form" tabindex="-1" aria-labelledby="faq-form" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h1 class="modal-title fs-5" id="exampleModalLabel">Add FAQ</h1>
                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                    aria-label="Close"></button>
                            </div>
                            <form action="{% url 'central_admin:faq_create' registration_slug=object.slug %}" method="post">
                                <div class="modal-body">
                                    {% csrf_token %}
                                    {{faq_form.as_p | safe}}
                                </div>
                                <div class="modal-footer">
                                    <button type="submit" class="btn btn-primary">Add now</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <div class="container">
            <div class="accordion accordion-flush" id="accordionFlushExample">
                {% if object.faqs.all %}
                {% for faq in object.faqs.all %}
                <div class="accordion-item">
                    <h2 class="accordion-header">
                        <button class="accordion-button collapsed" style="outline: none !important; box-shadow: none;"
                            type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne{{faq.pk}}"
                            aria-controls="flush-collapseOne{{faq.pk}}">
                            <div class="w-100">
                                <div class="text-body-default-bold mb-0">
                                    {{faq.question}}
                                </div>
                            </div>
                        </button>
                    </h2>
                    <div id="flush-collapseOne{{faq.pk}}" class="accordion-collapse collapse"
                        data-bs-parent="#accordionFlushExample">
                        <div class="accordion-body">
                            <div class="mb-3">
                                {{faq.answer}}
                            </div>
                            <form action="{% url 'central_admin:faq_delete' registration_slug=object.slug faq_slug=faq.slug %}" method="post">
                                {% csrf_token %}
                                <button type="submit" class="btn btn-danger btn-sm">Delete</button>
                            </form>
                        </div>
                    </div>
                </div>
                {% endfor %}
                {% else %}
                <div class="w-100 p-3 text-center">
                    <span class="text-muted">No faqs added yet</span>
                </div>
                {% endif %}
            </div>
        </div>
    </div>
</section>

{% endblock content %}