{% extends 'base.html' %}
{% load static %}

{% block style %}
<link rel="stylesheet" href="{% static 'styles/central_admin/route_list/style.css' %}">
{% endblock style %}

{% block sidebar %}
{% include 'central_admin/sidebar.html' %}
{% endblock sidebar %}

{% block content %}
<div class="d-flex justify-content-between mb-3">
    <div>
        <h3>Routes</h3>
    </div>
    <div>
        <a href="{% url 'central_admin:route_create' %}" class="btn btn-primary">Add Route</a>
    </div>
</div>
<div>
    {% for route in routes %}
    <li>{{route}} - {% for stop in stops %}{{stop}}, {% endfor %}</li>
    {% endfor %}
</div>


<div class="d-flex justify-content-between mb-3">
    <div>
        <h3>Stops</h3>
    </div>
    <div>
        <a href="{% url 'central_admin:stop_create' %}" class="btn btn-primary">Add Stops</a>
    </div>
</div>
<div>
{% for stop in stops %}
<li>{{stop.name}} - <a href="{{stop.map_link}}">View in map</a> - <a href="{% url 'central_admin:stop_delete' slug=stop.slug %}" class="btn btn-danger btn-sm me-2">Delete</a></li>
{% endfor %}
</div>

{% endblock content %}