{% extends 'base.html' %}
{% load static %}

{% block style %}
<link rel="stylesheet" href="{% static 'styles/central_admin/route_list/style.css' %}">
{% endblock style %}

{% block sidebar %}
{% include 'central_admin/sidebar/registration_sidebar.html' %}
{% endblock sidebar %}

{% block content %}

<section id="routes">
    <div class="mb-3 d-flex justify-content-between">
        <a class="btn btn-secondary me-2" href="{% url 'central_admin:registration_detail' registration_slug=registration.slug %}"><i class="fa-solid fa-angle-left me-2"></i>Go back</a>
        <div class="group">
            <a class="btn btn-primary" href="{% url 'central_admin:route_create' registration_slug=registration.slug %}"><i class="fa-solid fa-plus me-2"></i>Create</a>
            <a href="{% url 'central_admin:route_file_upload' registration_slug=registration.slug %}" class="btn btn-dark"><i class="fa-solid fa-cloud-arrow-up me-2"></i>Upload files</a>
        </div>
        
    </div>

    <div>
        <div class="content mt-3" style="cursor: pointer;">
            {% for route in routes %}
            <div class="card mb-2">
                <div class="card-body d-flex align-item-center" style="justify-content: space-between;">
                <div class="info">
                    <p><a class="fw-semibold text-primary" href="{% url 'central_admin:stop_list' registration_slug=registration.slug route_slug=route.slug %}">{{route.name}}</a></p>
                </div>
                <div class="buttons">
                   <a class="btn btn-sm text-danger" href="{% url 'central_admin:route_delete' registration_slug=registration.slug route_slug=route.slug %}">Delete<i class="fa-solid fa-trash-can ms-2"></i></a>
                   <a class="btn btn-sm  btn-secondary" href="{% url 'central_admin:route_update' registration_slug=registration.slug route_slug=route.slug %}">Edit<i class="fa-regular fa-pen-to-square ms-2"></i></a>
                </div>
                </div>
            </div>
            {% endfor %}
        </div>
       
    </div>
</section>

{% endblock content %}