{% extends 'base.html' %}
{% load static %}

{% block style %}
<link rel="stylesheet" href="{% static 'styles/central_admin/route_list/style.css' %}">
{% endblock style %}

{% block sidebar %}
{% include 'central_admin/more_menu_sidebar.html' %}
{% endblock sidebar %}

{% block content %}

<section id="routes">
    <div class="mb-3">
        <a class="btn btn-secondary me-2" href="{% url 'central_admin:more_menu' %}"><i class="fa-solid fa-angle-left me-2"></i>Go back</a>
    </div>
    <div class="title-section">
        <h3>Routes</h3>
        <div>
            <div class="dropdown">
                <button class="btn btn-primary dropdown-toggle" type="button" data-bs-toggle="dropdown"
                    aria-expanded="false">
                    <span class="me-2"><i class="fa-solid fa-plus me-2"></i>Create</span> 
                </button>
                <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="{% url 'central_admin:route_create' %}"><i class="fa-solid fa-map me-2"></i>Route</a></li>
                    <li><a class="dropdown-item" href="{% url 'central_admin:stop_create' %}"><i class="fa-solid fa-location-dot me-2"></i>Stop</a></li>
                </ul>
            </div>
        </div>
    </div>

    <div class="route-list mb-5">
        <div class="table-responsive">
            <table class="table table-borderless">

                <!--Routes-->
                {% for route in routes %}
                <div class="col">
                    <div class="card me-2">
                        <div class="card-body">
                            <h5 class="card-title mb-3">{{route.name}}</h5>
                            <!-- <p class="card-subtitle mb-2 text-body-secondary mb-4">
                                {% for stop in route.stops.all %}
                                {{stop}}, 
                                {% endfor %}
                            </p> -->
                            <a href="{% url 'central_admin:route_delete' slug=route.slug %}" class="btn btn-sm text-danger">Remove<i class="fa-regular fa-trash-can ms-1"></i></a>
                            <a href="{% url 'central_admin:route_update' slug=route.slug %}" class="btn btn-sm btn-dark">Edit<i class="fa-regular fa-pen-to-square ms-2"></i></a>
                        </div>
                    </div>
                </div>
                {% endfor %}
                <!-- End -->

            </table>
        </div>
    </div>
</section>

<section id="stops">
    <div class="title-section mb-3">
        <h4>Recently added stops</h4>
        <!-- search bar -->
        <!-- <div class="search-feild">
            <form class="d-flex" id="search-feild" role="search">
                <input class="form-control me-2 ms-3" type="search" placeholder="Search" aria-label="Search">
                <a href="#" class="btn btn-primary ms-2" type="submit" style="width: 150px;">Search <i class="fa-solid fa-magnifying-glass ms-2"></i></a>
            </form>
        </div> -->
    </div>

    <div class="stop-list">
        <ul class="list-group">
            {% for stop in stops %}
            <li class="list-group-item">
                <h6>{{stop.name}}</h6>
                <div>
                    <a href="{% url 'central_admin:stop_delete' slug=stop.slug %}" class="btn text-danger btn-sm">Delete<i class="fa-solid fa-trash ms-2"></i></a>
                </div>
            </li>
            {% endfor %}
        </ul>
    </div>
</section>

{% endblock content %}