{% extends 'base.html' %}
{% load static %}

{% block style %}
<link rel="stylesheet" href="{% static 'styles/central_admin/route_update/style.css' %}">
{% endblock style %}

{% block sidebar %}
{% include 'central_admin/sidebar/registration_sidebar.html' %}
{% endblock sidebar %}

{% block content %}
<div class="section-header">
    <div>
        <a href="#" class="btn btn-outline-dark btn-sm mb-3"><i class="fa-solid fa-arrow-left me-2"></i>Back</a>
     </div>
     <div class="gear d-flex justify-content-between">
       <div>
         <h3>Create schedule group</h3>
       </div>
    </div>
    <hr>
</div>

<form action="" method="post">
    {% csrf_token %}
    {{form.as_p|safe}}
    <button type="submit" class="btn-primary">Create</button>
</form>

{% endblock content %}