{% extends 'base.html' %}
{% load static %}

{% block style %}
<link rel="stylesheet" href="{% static 'styles/central_admin/schedule_list/style.css' %}">
{% endblock style %}

{% block sidebar %}
{% include 'central_admin/sidebar/registration_sidebar.html' %}
{% endblock sidebar %}

{% block content %}
<div class="section-header">
    <div>
        <a href="{% url 'central_admin:registration_detail' registration_slug=registration.slug %}" class="btn btn-outline-dark btn-sm mb-3"><i class="fa-solid fa-arrow-left me-2"></i>Back</a>
     </div>
     <div class="gear d-flex justify-content-between">
       <div>
         <h3>Schedules</h3>
       </div>
       <div>
         <a class="btn btn-outline-dark me-2" href="{% url 'central_admin:schedule_group_list' registration_slug=registration.slug %}">Groups</a>
         <a href="{% url 'central_admin:schedule_create' registration_slug=registration.slug %}" class="btn btn-primary"><i class="fa-solid fa-plus me-2"></i>Create schedule</a>
       </div>
    </div>
    <hr>
</div>

<section id="schedule">
    <div class="main-wrap">
        <div class="wrap">
            {% for schedule in schedules %}
            <div class="card">
                <div class="card-body">
                    <div class="content">
                        <h5 class="card-title mb-3">{{ schedule.name }}</h5>
                        <span>{{ schedule.start_time }} - {{ schedule.end_time }}</span>

                    </div>
                    <div class="button">
                        <!-- <a href="#" class=" btn btn-sm text-danger card-link">Delete<i
                                class="fa-solid fa-trash-can ms-2"></i></a> -->
                        <a href="{% url 'central_admin:schedule_update' registration_slug=registration.slug schedule_slug=schedule.slug %}" class=" btn btn-sm btn-dark card-link">Edit<i
                                class="fa-regular fa-pen-to-square ms-2"></i></a>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</section>

{% endblock content %}
