{% extends 'base.html' %}
{% load static %}

{% block style %}
<link rel="stylesheet" href="{% static 'styles/central_admin/stop_list/style.css' %}">
{% endblock style %}

{% block sidebar %}
{% include 'central_admin/sidebar/registration_sidebar.html' %}
{% endblock sidebar %}

{% block content %}
<h3>Stops</h3>
<ul>
    {% for stop in stops %}
    <li>{{stop}} - <a href="{% url 'central_admin:stop_delete' registration_slug=registration.slug route_slug=route.slug stop_slug=stop.slug %}" class="text-danger btn btn-sm">Delete</a></li>
    {% endfor %}
</ul>
{% endblock content %}