{% extends 'base.html' %}
{% load static %}

{% block style %}
<link rel="stylesheet" href="{% static 'styles/central_admin/trip_list/style.css' %}">
{% endblock style %}

{% block sidebar %}
{% include 'central_admin/sidebar/registration_sidebar.html' %}
{% endblock sidebar %}

{% block content %}

<h3>Trip list</h3>
<a href="{% url 'central_admin:trip_create' registration_slug=registration.slug bus_record_slug=bus_record.slug %}" class="fw-semibold">Add trip</a>

<ul>
    {% for trip in trips %}
    <li>{{trip}} | {{trip.booking_count}} | {{ trip.total_filled_seats_percentage }}%</li>
    {% endfor %}
</ul>

{% endblock content %}